.photo{
    width:100px;
    height: auto;
    border-radius: 50%;
}

.container{
    display: flex;
    margin: 40%;
    
  
}

.Cadre{
    margin:auto;
    display:flex;
    border-style: solid;
    border-color:black;
    border-width: 1px;
    align-items: center;
    flex-direction: column;
    
    
}

.info {
    display: flex;
    
}